## Instalando las dependencias necesarias

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

#### Definiendo variables de entorno

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [4]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=a00c610701a8b6e79af750aec457751cefd2ab95aa4d5b4eaa9c04c8ea0b8f6e
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

## Trabajar con datos

In [6]:
# Para obtener detalle sobre un función de pyspark
help(spark.read.text)

Help on method text in module pyspark.sql.readwriter:

text(paths, wholetext=False, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads text files and returns a :class:`DataFrame` whose schema starts with a
    string column named "value", and followed by partitioned columns if there
    are any.
    The text files must be encoded as UTF-8.

    By default, each line in the text file is a new row in the resulting DataFrame.

    .. versionadded:: 1.6.0

    Parameters
    ----------
    paths : str or list
        string, or list of strings, for input path(s).
    wholetext : str or bool, optional
        if true, read each file from input path(s) as a single row.
    lineSep : str, optional
        defines the line separator that should be used for parsing. If None is
        set, it covers all ``\r``, ``\r\n`` and ``\n``.
    pathGlobFilter : str or bool, optional
        an optional glob pattern to only include files with paths matching
        the pattern. The syntax follows `org.apache.hadoop.fs.GlobFilter`.
        It does not change the behavior of
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa
    recursiveFileLookup : str or bool, optional
        recursively scan a directory for files. Using this option disables
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa

        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedBefore (batch only) : an optional timestamp to only include files with
        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedAfter (batch only) : an optional timestamp to only include files with
        modification times occurring after the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)

    Examples
    --------
    >>> df = spark.read.text('python/test_support/sql/text-test.txt')
    >>> df.collect()
    [Row(value='hello'), Row(value='this')]
    >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
    >>> df.collect()
    [Row(value='hello\nthis')]

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
# Ver el archivo por pantalla y no truncarlo
spark.read.text('/content/drive/MyDrive/retail_db/schemas.json', wholetext=True).show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{
    "departments": [
        {
            "column_name": "department_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "department_name",
            "data_type": "string",
            "column_position": 2
        }
    ],
    "categories": [
        {
            "column_name": "category_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "category_department_id",
            "data_type": "integer",
            "column_position": 2
        },
        {
            "column_name": "category_name",
            "data_type": "string",
            "column_position": 3
        }
    ],
    "orders": [
        {
            "column_name": "order_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "order_date",
            "data_type": "string",
            "column_position": 2
        },
        {
            "column_name": "order_customer_id",
            "data_type": "timestamp",
            "column_position": 3
        },
        {
            "column_name": "order_status",
            "data_type": "string",
            "column_position": 4
        }
    ],
    "products": [
        {
            "column_name": "product_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "product_cateogry_id",
            "data_type": "integer",
            "column_position": 2
        },
        {
            "column_name": "product_name",
            "data_type": "",
            "column_position": 3
        },
        {
            "column_name": "product_description",
            "data_type": "string",
            "column_position": 4
        },
        {
            "column_name": "product_price",
            "data_type": "float",
            "column_position": 5
        },
        {
            "column_name": "product_image",
            "data_type": "string",
            "column_position": 6
        }
    ],
    "customers": [
        {
            "column_name": "customer_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "customer_fname",
            "data_type": "string",
            "column_position": 2
        },
        {
            "column_name": "customer_lname",
            "data_type": "string",
            "column_position": 3
        },
        {
            "column_name": "customer_email",
            "data_type": "string",
            "column_position": 4
        },
        {
            "column_name": "customer_password",
            "data_type": "string",
            "column_position": 5
        },
        {
            "column_name": "customer_street",
            "data_type": "string",
            "column_position": 6
        },
        {
            "column_name": "customer_city",
            "data_type": "string",
            "column_position": 7
        },
        {
            "column_name": "customer_state",
            "data_type": "string",
            "column_position": 8
        },
        {
            "column_name": "customer_zipcode",
            "data_type": "integer",
            "column_position": 9
        }
    ],
    "order_items": [
        {
            "column_name": "order_item_id",
            "data_type": "integer",
            "column_position": 1
        },
        {
            "column_name": "order_item_order_id",
            "data_type": "integer",
            "column_position": 2
        },
        {
            "column_name": "order_item_product_id",
            "data_type": "integer",
            "column_position": 3
        },
        {
            "column_name": "order_item_quantity",
            "data_type": "integer",
            "column_position": 4
        },
        {
            "column_name": "order_item_subtotal",
            "data_type": "float",
            "column_position": 5
        },
        {
            "column_name": "order_item_product_price",
            "data_type": "float",
            "column_position": 6
        }
    ]
}
|

In [13]:
# Ver el primer registro del archivo por pantalla , ademas traerlo en una variable de tipo texto
schema_text = spark.read.text('/content/drive/MyDrive/retail_db/schemas.json', wholetext=True).first().value

schema_text

'{\r\n    "departments": [\r\n        {\r\n            "column_name": "department_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "department_name",\r\n            "data_type": "string",\r\n            "column_position": 2\r\n        }\r\n    ],\r\n    "categories": [\r\n        {\r\n            "column_name": "category_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "category_department_id",\r\n            "data_type": "integer",\r\n            "column_position": 2\r\n        },\r\n        {\r\n            "column_name": "category_name",\r\n            "data_type": "string",\r\n            "column_position": 3\r\n        }\r\n    ],\r\n    "orders": [\r\n        {\r\n            "column_name": "order_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "order_date",\r\n            "data_type": "string",\r\n            "column_position": 2\r\n        },\r\n        {\r\n            "column_name": "order_customer_id",\r\n            "data_type": "timestamp",\r\n            "column_position": 3               \r\n        },\r\n        {\r\n            "column_name": "order_status",\r\n            "data_type": "string",\r\n            "column_position": 4\r\n        }\r\n    ],\r\n    "products": [\r\n        {\r\n            "column_name": "product_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "product_cateogry_id",\r\n            "data_type": "integer",\r\n            "column_position": 2\r\n        },\r\n        {\r\n            "column_name": "product_name",\r\n            "data_type": "",\r\n            "column_position": 3\r\n        },\r\n        {\r\n            "column_name": "product_description",\r\n            "data_type": "string",\r\n            "column_position": 4\r\n        },\r\n        {\r\n            "column_name": "product_price",\r\n            "data_type": "float",\r\n            "column_position": 5\r\n        },\r\n        {\r\n            "column_name": "product_image",\r\n            "data_type": "string",\r\n            "column_position": 6\r\n        }\r\n    ],\r\n    "customers": [\r\n        {\r\n            "column_name": "customer_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "customer_fname",\r\n            "data_type": "string",\r\n            "column_position": 2\r\n        },\r\n        {\r\n            "column_name": "customer_lname",\r\n            "data_type": "string",\r\n            "column_position": 3\r\n        },\r\n        {\r\n            "column_name": "customer_email",\r\n            "data_type": "string",\r\n            "column_position": 4\r\n        },\r\n        {\r\n            "column_name": "customer_password",\r\n            "data_type": "string",\r\n            "column_position": 5\r\n        },\r\n        {\r\n            "column_name": "customer_street",\r\n            "data_type": "string",\r\n            "column_position": 6\r\n        },\r\n        {\r\n            "column_name": "customer_city",\r\n            "data_type": "string",\r\n            "column_position": 7\r\n        },\r\n        {\r\n            "column_name": "customer_state",\r\n            "data_type": "string",\r\n            "column_position": 8\r\n        },\r\n        {\r\n            "column_name": "customer_zipcode",\r\n            "data_type": "integer",\r\n            "column_position": 9\r\n        }\r\n    ],\r\n    "order_items": [\r\n        {\r\n            "column_name": "order_item_id",\r\n            "data_type": "integer",\r\n            "column_position": 1\r\n        },\r\n        {\r\n            "column_name": "order_item_order_id",\r\n            "data_type": "integer",\r\n            "column_position": 2\r\n        },\r\n        {\r\n            "column_name": "order_item_product_id",\r\n            "data_type": "integer",\r\n            "column_position": 3               \r\n        },\r\n        {\r\n            "column_name": "order_item_quantity",\r\n            "data_type": "integer",\r\n            "column_position": 4\r\n        },\r\n        {\r\n            "column_name": "order_item_subtotal",\r\n            "data_type": "float",\r\n            "column_position": 5               \r\n        },\r\n        {\r\n            "column_name": "order_item_product_price",\r\n            "data_type": "float",\r\n            "column_position": 6\r\n        }\r\n    ]\r\n}\r\n'

In [14]:
type(schema_text)

str

In [15]:
# Libreria de python usada para manejar los archivos json
import json

In [16]:
#  Lectura del json como un python dict
column_details = json.loads(schema_text)['orders']
column_details

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [17]:
# Se ordena los datos por la columns position
sorted(column_details, key=lambda col: col['column_position'])

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [18]:
# Extraer del diccionario del nombre de la columna
columns = [info['column_name'] for info in sorted(column_details, key=lambda col: col['column_position'])]

In [19]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None, locale=None, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None, unescapedQuoteHandling=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    .. versionadded:: 2.0.0

    Parameters
    ----------
    path : str or list
        string, or list of strings, for input path(s),
        or RDD of Strings storing CSV rows.
    schema : :class:`pyspark.sql.types.StructType` or str, optional
        an optional :class:`pyspark.sql.types.StructType` for the input schema
        or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    sep : str, optional
        sets a separator (one or more characters) for each field and value. If None is
        set, it uses the default value, ``,``.
    encoding : str, optional
        decodes the CSV files by the given encoding type. If None is set,
        it uses the default value, ``UTF-8``.
    quote : str, optional
        sets a single character used for escaping quoted values where the
        separator can be part of the value. If None is set, it uses the default
        value, ``"``. If you would like to turn off quotations, you need to set an
        empty string.
    escape : str, optional
        sets a single character used for escaping quotes inside an already
        quoted value. If None is set, it uses the default value, ``\``.
    comment : str, optional
        sets a single character used for skipping lines beginning with this
        character. By default (None), it is disabled.
    header : str or bool, optional
        uses the first line as names of columns. If None is set, it uses the
        default value, ``false``.

        .. note:: if the given path is a RDD of Strings, this header
            option will remove all lines same with the header if exists.

    inferSchema : str or bool, optional
        infers the input schema automatically from data. It requires one extra
        pass over the data. If None is set, it uses the default value, ``false``.
    enforceSchema : str or bool, optional
        If it is set to ``true``, the specified or inferred schema will be
        forcibly applied to datasource files, and headers in CSV files will be
        ignored. If the option is set to ``false``, the schema will be
        validated against all headers in CSV files or the first header in RDD
        if the ``header`` option is set to ``true``. Field names in the schema
        and column names in CSV headers are checked by their positions
        taking into account ``spark.sql.caseSensitive``. If None is set,
        ``true`` is used by default. Though the default value is ``true``,
        it is recommended to disable the ``enforceSchema`` option
        to avoid incorrect results.
    ignoreLeadingWhiteSpace : str or bool, optional
        A flag indicating whether or not leading whitespaces from
        values being read should be skipped. If None is set, it
        uses the default value, ``false``.
    ignoreTrailingWhiteSpace : str or bool, optional
        A flag indicating whether or not trailing whitespaces from
        values being read should be skipped. If None is set, it
        uses the default value, ``false``.
    nullValue : str, optional
        sets the string representation of a null value. If None is set, it uses
        the default value, empty string. Since 2.0.1, this ``nullValue`` param
        applies to all supported types including the string type.
    nanValue : str, optional
        sets the string representation of a non-number value. If None is set, it
        uses the default value, ``NaN``.
    positiveInf : str, optional
        sets the string representation of a positive infinity value. If None
        is set, it uses the default value, ``Inf``.
    negativeInf : str, optional
        sets the string representation of a negative infinity value. If None
        is set, it uses the default value, ``Inf``.
    dateFormat : str, optional
        sets the string that indicates a date format. Custom date formats
        follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to date type. If None is set, it uses the
        default value, ``yyyy-MM-dd``.
    timestampFormat : str, optional
        sets the string that indicates a timestamp format.
        Custom date formats follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to timestamp type. If None is set, it uses the
        default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
    maxColumns : str or int, optional
        defines a hard limit of how many columns a record can have. If None is
        set, it uses the default value, ``20480``.
    maxCharsPerColumn : str or int, optional
        defines the maximum number of characters allowed for any given
        value being read. If None is set, it uses the default value,
        ``-1`` meaning unlimited length.
    maxMalformedLogPerPartition : str or int, optional
        this parameter is no longer used since Spark 2.2.0.
        If specified, it is ignored.
    mode : str, optional
        allows a mode for dealing with corrupt records during parsing. If None is
        set, it uses the default value, ``PERMISSIVE``. Note that Spark tries to
        parse only required columns in CSV under column pruning. Therefore, corrupt
        records can be different based on required set of fields. This behavior can
        be controlled by ``spark.sql.csv.parser.columnPruning.enabled``
        (enabled by default).

        * ``PERMISSIVE``: when it meets a corrupted record, puts the malformed string \
          into a field configured by ``columnNameOfCorruptRecord``, and sets malformed \
          fields to ``null``. To keep corrupt records, an user can set a string type \
          field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
          schema does not have the field, it drops corrupt records during parsing. \
          A record with less/more tokens than schema is not a corrupted record to CSV. \
          When it meets a record having fewer tokens than the length of the schema, \
          sets ``null`` to extra fields. When the record has more tokens than the \
          length of the schema, it drops extra tokens.
        * ``DROPMALFORMED``: ignores the whole corrupted records.
        * ``FAILFAST``: throws an exception when it meets corrupted records.

    columnNameOfCorruptRecord : str, optional
        allows renaming the new field having malformed string
        created by ``PERMISSIVE`` mode. This overrides
        ``spark.sql.columnNameOfCorruptRecord``. If None is set,
        it uses the value specified in
        ``spark.sql.columnNameOfCorruptRecord``.
    multiLine : str or bool, optional
        parse records, which may span multiple lines. If None is
        set, it uses the default value, ``false``.
    charToEscapeQuoteEscaping : str, optional
        sets a single character used for escaping the escape for
        the quote character. If None is set, the default value is
        escape character when escape and quote characters are
        different, ``\0`` otherwise.
    samplingRatio : str or float, optional
        defines fraction of rows used for schema inferring.
        If None is set, it uses the default value, ``1.0``.
    emptyValue : str, optional
        sets the string representation of an empty value. If None is set, it uses
        the default value, empty string.
    locale : str, optional
        sets a locale as language tag in IETF BCP 47 format. If None is set,
        it uses the default value, ``en-US``. For instance, ``locale`` is used while
        parsing dates and timestamps.
    lineSep : str, optional
        defines the line separator that should be used for parsing. If None is
        set, it covers all ``\\r``, ``\\r\\n`` and ``\\n``.
        Maximum length is 1 character.
    pathGlobFilter : str or bool, optional
        an optional glob pattern to only include files with paths matching
        the pattern. The syntax follows `org.apache.hadoop.fs.GlobFilter`.
        It does not change the behavior of
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa
    recursiveFileLookup : str or bool, optional
        recursively scan a directory for files. Using this option disables
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa

        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedBefore (batch only) : an optional timestamp to only include files with
        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedAfter (batch only) : an optional timestamp to only include files with
        modification times occurring after the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    unescapedQuoteHandling : str, optional
        defines how the CsvParser will handle values with unescaped quotes. If None is
        set, it uses the default value, ``STOP_AT_DELIMITER``.

        * ``STOP_AT_CLOSING_QUOTE``: If unescaped quotes are found in the input, accumulate
          the quote character and proceed parsing the value as a quoted value, until a closing
          quote is found.
        * ``BACK_TO_DELIMITER``: If unescaped quotes are found in the input, consider the value
          as an unquoted value. This will make the parser accumulate all characters of the current
          parsed value until the delimiter is found. If no delimiter is found in the value, the
          parser will continue accumulating characters from the input until a delimiter or line
          ending is found.
        * ``STOP_AT_DELIMITER``: If unescaped quotes are found in the input, consider the value
          as an unquoted value. This will make the parser accumulate all characters until the
          delimiter or a line ending is found in the input.
        * ``STOP_AT_DELIMITER``: If unescaped quotes are found in the input, the content parsed
          for the given value will be skipped and the value set in nullValue will be produced
          instead.
        * ``RAISE_ERROR``: If unescaped quotes are found in the input, a TextParsingException
          will be thrown.

    Examples
    --------
    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

In [20]:
# Lectura csv, permitir que infiera el esquema de los datos -  asigna los nombres anteriores a las columns
orders = spark.read.csv('/content/drive/MyDrive/retail_db/orders', inferSchema=True).toDF(*columns)

In [21]:
from pyspark.sql.functions import count, col

In [22]:
# Aplicación de funciones de agregación en pyspark
orders.\
  groupBy('order_status').\
    agg(count('*').alias('order_count')).\
      orderBy(col('order_count').desc()).\
      show()

+---------------+-----------+
|   order_status|order_count|
+---------------+-----------+
|       COMPLETE|      22899|
|PENDING_PAYMENT|      15030|
|     PROCESSING|       8275|
|        PENDING|       7610|
|         CLOSED|       7556|
|        ON_HOLD|       3798|
|SUSPECTED_FRAUD|       1558|
|       CANCELED|       1428|
| PAYMENT_REVIEW|        729|
+---------------+-----------+

In [24]:
# Función para extraer el nombre de las columnas del json
def get_columns(schemas_file, table_name:str):
  schema_text = spark.read.text(schemas_file, wholetext=True).first().value
  column_details = json.loads(schema_text)[table_name]
  columns = [info['column_name'] for info in sorted(column_details, key=lambda col: col['column_position'])]
  return columns

In [25]:
get_columns('/content/drive/MyDrive/retail_db/schemas.json', 'orders')

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [35]:
# Nombre de las tablas a cargar
tables_list = [
    'departments', 'categories', 'products',
    'customers', 'orders', 'order_items'
]

In [36]:
base_dir = '/content/drive/MyDrive/retail_db'

In [38]:
for t in tables_list:
  print(f'Processing {t} data')
  columns = get_columns(f'{base_dir}/schemas.json', t)

  # Lectura de la tabla y asignación de las columnas
  df = spark.read.csv(f'{base_dir}/{t}', inferSchema=True).toDF(*columns)

  # Escritura de la tabla en formato parquet
  df.write.mode('overwrite').parquet(f'/content/drive/MyDrive/retail_db/parquet_db/{t}')

Processing departments data
Processing categories data
Processing products data
Processing customers data
Processing orders data
Processing order_items data

In [41]:
! ls -r /content/drive/MyDrive/retail_db/parquet_db

products  orders  order_items  departments  customers  categories

# Using Spark Data Frame

In [44]:
# Leyendo csv, y definiendo el tipo de datos y el nombre de columnas con el comando schema
df = spark.read.csv(f'{base_dir}/orders', schema='order_id INT, order_date DATE, order_customer_id INT, order_status STRING')

In [45]:
# Seleccionar todas las columnas
df.select('*')

+--------+----------+-----------------+---------------+
|order_id|order_date|order_customer_id|   order_status|
+--------+----------+-----------------+---------------+
|       1|2013-07-25|            11599|         CLOSED|
|       2|2013-07-25|              256|PENDING_PAYMENT|
|       3|2013-07-25|            12111|       COMPLETE|
|       4|2013-07-25|             8827|         CLOSED|
|       5|2013-07-25|            11318|       COMPLETE|
|       6|2013-07-25|             7130|       COMPLETE|
|       7|2013-07-25|             4530|       COMPLETE|
|       8|2013-07-25|             2911|     PROCESSING|
|       9|2013-07-25|             5657|PENDING_PAYMENT|
|      10|2013-07-25|             5648|PENDING_PAYMENT|
|      11|2013-07-25|              918| PAYMENT_REVIEW|
|      12|2013-07-25|             1837|         CLOSED|
|      13|2013-07-25|             9149|PENDING_PAYMENT|
|      14|2013-07-25|             9842|     PROCESSING|
|      15|2013-07-25|             2568|       COMPLETE|
|      16|2013-07-25|             7276|PENDING_PAYMENT|
|      17|2013-07-25|             2667|       COMPLETE|
|      18|2013-07-25|             1205|         CLOSED|
|      19|2013-07-25|             9488|PENDING_PAYMENT|
|      20|2013-07-25|             9198|     PROCESSING|
+--------+----------+-----------------+---------------+
only showing top 20 rows

In [46]:
# Seleccionar solo dos columnas
df.select('order_id', 'order_date')

+--------+----------+
|order_id|order_date|
+--------+----------+
|       1|2013-07-25|
|       2|2013-07-25|
|       3|2013-07-25|
|       4|2013-07-25|
|       5|2013-07-25|
|       6|2013-07-25|
|       7|2013-07-25|
|       8|2013-07-25|
|       9|2013-07-25|
|      10|2013-07-25|
|      11|2013-07-25|
|      12|2013-07-25|
|      13|2013-07-25|
|      14|2013-07-25|
|      15|2013-07-25|
|      16|2013-07-25|
|      17|2013-07-25|
|      18|2013-07-25|
|      19|2013-07-25|
|      20|2013-07-25|
+--------+----------+
only showing top 20 rows

In [49]:
# Seleccionar valores unicos
df.select('order_status').distinct()

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [50]:
# Seleccionar valores unicos y ordenar
df.select('order_status').distinct().orderBy('order_status')

+---------------+
|   order_status|
+---------------+
|       CANCELED|
|         CLOSED|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|        PENDING|
|PENDING_PAYMENT|
|     PROCESSING|
|SUSPECTED_FRAUD|
+---------------+

In [53]:
# Contar el numero de filas
df.select('order_status').distinct().orderBy('order_status').count()

9

In [54]:
# Eliminar una columnas
df.drop('order_id')

+----------+-----------------+---------------+
|order_date|order_customer_id|   order_status|
+----------+-----------------+---------------+
|2013-07-25|            11599|         CLOSED|
|2013-07-25|              256|PENDING_PAYMENT|
|2013-07-25|            12111|       COMPLETE|
|2013-07-25|             8827|         CLOSED|
|2013-07-25|            11318|       COMPLETE|
|2013-07-25|             7130|       COMPLETE|
|2013-07-25|             4530|       COMPLETE|
|2013-07-25|             2911|     PROCESSING|
|2013-07-25|             5657|PENDING_PAYMENT|
|2013-07-25|             5648|PENDING_PAYMENT|
|2013-07-25|              918| PAYMENT_REVIEW|
|2013-07-25|             1837|         CLOSED|
|2013-07-25|             9149|PENDING_PAYMENT|
|2013-07-25|             9842|     PROCESSING|
|2013-07-25|             2568|       COMPLETE|
|2013-07-25|             7276|PENDING_PAYMENT|
|2013-07-25|             2667|       COMPLETE|
|2013-07-25|             1205|         CLOSED|
|2013-07-25|             9488|PENDING_PAYMENT|
|2013-07-25|             9198|     PROCESSING|
+----------+-----------------+---------------+
only showing top 20 rows

In [66]:
# usando apply para aplicar funciones sobre cada fila
from pyspark.sql.functions import date_format, col
from pyspark.sql.types import IntegerType,BooleanType,DateType

In [72]:
# usando funciones de spark sobre columnas
df.\
  select('order_id',
         'order_date',
         date_format(col('order_date'),'yyyyMM').cast('int').\
         alias('order_mount'))

+--------+----------+-----------+
|order_id|order_date|order_mount|
+--------+----------+-----------+
|       1|2013-07-25|     201307|
|       2|2013-07-25|     201307|
|       3|2013-07-25|     201307|
|       4|2013-07-25|     201307|
|       5|2013-07-25|     201307|
|       6|2013-07-25|     201307|
|       7|2013-07-25|     201307|
|       8|2013-07-25|     201307|
|       9|2013-07-25|     201307|
|      10|2013-07-25|     201307|
|      11|2013-07-25|     201307|
|      12|2013-07-25|     201307|
|      13|2013-07-25|     201307|
|      14|2013-07-25|     201307|
|      15|2013-07-25|     201307|
|      16|2013-07-25|     201307|
|      17|2013-07-25|     201307|
|      18|2013-07-25|     201307|
|      19|2013-07-25|     201307|
|      20|2013-07-25|     201307|
+--------+----------+-----------+
only showing top 20 rows

In [73]:
df.withColumn('order_date',  date_format(col('order_date'),'yyyyMM').cast('int'))

+--------+----------+-----------------+---------------+
|order_id|order_date|order_customer_id|   order_status|
+--------+----------+-----------------+---------------+
|       1|    201307|            11599|         CLOSED|
|       2|    201307|              256|PENDING_PAYMENT|
|       3|    201307|            12111|       COMPLETE|
|       4|    201307|             8827|         CLOSED|
|       5|    201307|            11318|       COMPLETE|
|       6|    201307|             7130|       COMPLETE|
|       7|    201307|             4530|       COMPLETE|
|       8|    201307|             2911|     PROCESSING|
|       9|    201307|             5657|PENDING_PAYMENT|
|      10|    201307|             5648|PENDING_PAYMENT|
|      11|    201307|              918| PAYMENT_REVIEW|
|      12|    201307|             1837|         CLOSED|
|      13|    201307|             9149|PENDING_PAYMENT|
|      14|    201307|             9842|     PROCESSING|
|      15|    201307|             2568|       COMPLETE|
|      16|    201307|             7276|PENDING_PAYMENT|
|      17|    201307|             2667|       COMPLETE|
|      18|    201307|             1205|         CLOSED|
|      19|    201307|             9488|PENDING_PAYMENT|
|      20|    201307|             9198|     PROCESSING|
+--------+----------+-----------------+---------------+
only showing top 20 rows