# Install pedendencies

In [1]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

# Define enviroment variables

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=bd7b9f9bbfcdaf36b8651743cd7bb56ccdc87ff723803a33ad036c1bfcf7528e
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
base_dir = '/content/drive/MyDrive/retail_db'

In [7]:
# Leyendo csv, y definiendo el tipo de datos y el nombre de columnas con el comando schema
df = spark.read.csv(f'{base_dir}/orders', schema='order_id INT, order_date DATE, order_customer_id INT, order_status STRING')

In [ ]:
df

+--------+----------+-----------------+---------------+
|order_id|order_date|order_customer_id|   order_status|
+--------+----------+-----------------+---------------+
|       1|2013-07-25|            11599|         CLOSED|
|       2|2013-07-25|              256|PENDING_PAYMENT|
|       3|2013-07-25|            12111|       COMPLETE|
|       4|2013-07-25|             8827|         CLOSED|
|       5|2013-07-25|            11318|       COMPLETE|
|       6|2013-07-25|             7130|       COMPLETE|
|       7|2013-07-25|             4530|       COMPLETE|
|       8|2013-07-25|             2911|     PROCESSING|
|       9|2013-07-25|             5657|PENDING_PAYMENT|
|      10|2013-07-25|             5648|PENDING_PAYMENT|
|      11|2013-07-25|              918| PAYMENT_REVIEW|
|      12|2013-07-25|             1837|         CLOSED|
|      13|2013-07-25|             9149|PENDING_PAYMENT|
|      14|2013-07-25|             9842|     PROCESSING|
|      15|2013-07-25|             2568|       COMPLETE|
|      16|2013-07-25|             7276|PENDING_PAYMENT|
|      17|2013-07-25|             2667|       COMPLETE|
|      18|2013-07-25|             1205|         CLOSED|
|      19|2013-07-25|             9488|PENDING_PAYMENT|
|      20|2013-07-25|             9198|     PROCESSING|
+--------+----------+-----------------+---------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import count, col

## Filter

In [ ]:
# Igual a query de pandas
# SELECT * FROM df WHERE order_status = 'COMPLETE'
df.filter("order_status = 'COMPLETE'")

+--------+----------+-----------------+------------+
|order_id|order_date|order_customer_id|order_status|
+--------+----------+-----------------+------------+
|       3|2013-07-25|            12111|    COMPLETE|
|       5|2013-07-25|            11318|    COMPLETE|
|       6|2013-07-25|             7130|    COMPLETE|
|       7|2013-07-25|             4530|    COMPLETE|
|      15|2013-07-25|             2568|    COMPLETE|
|      17|2013-07-25|             2667|    COMPLETE|
|      22|2013-07-25|              333|    COMPLETE|
|      26|2013-07-25|             7562|    COMPLETE|
|      28|2013-07-25|              656|    COMPLETE|
|      32|2013-07-25|             3960|    COMPLETE|
|      35|2013-07-25|             4840|    COMPLETE|
|      45|2013-07-25|             2636|    COMPLETE|
|      56|2013-07-25|            10519|    COMPLETE|
|      63|2013-07-25|             1148|    COMPLETE|
|      65|2013-07-25|             5903|    COMPLETE|
|      67|2013-07-25|             1406|    COMPLETE|
|      71|2013-07-25|             8646|    COMPLETE|
|      72|2013-07-25|             4349|    COMPLETE|
|      76|2013-07-25|             6898|    COMPLETE|
|      80|2013-07-25|             3007|    COMPLETE|
+--------+----------+-----------------+------------+
only showing top 20 rows

In [ ]:
# Como agregar multiples sobre una tabla
df.filter("date_format(order_date, 'yyyyMM') = 201401 AND order_status IN ('COMPLETE', 'CLOSED')")

+--------+----------+-----------------+------------+
|order_id|order_date|order_customer_id|order_status|
+--------+----------+-----------------+------------+
|   25882|2014-01-01|             4598|    COMPLETE|
|   25888|2014-01-01|             6735|    COMPLETE|
|   25889|2014-01-01|            10045|    COMPLETE|
|   25891|2014-01-01|             3037|      CLOSED|
|   25895|2014-01-01|             1044|    COMPLETE|
|   25897|2014-01-01|             6405|    COMPLETE|
|   25898|2014-01-01|             3950|    COMPLETE|
|   25899|2014-01-01|             8068|      CLOSED|
|   25900|2014-01-01|             2382|      CLOSED|
|   25901|2014-01-01|             3099|    COMPLETE|
|   25902|2014-01-01|             6083|    COMPLETE|
|   25907|2014-01-01|             3603|    COMPLETE|
|   25913|2014-01-01|             9382|    COMPLETE|
|   25914|2014-01-01|             9288|    COMPLETE|
|   25915|2014-01-01|             2963|    COMPLETE|
|   25916|2014-01-01|             3219|    COMPLETE|
|   25918|2014-01-01|              279|    COMPLETE|
|   25919|2014-01-01|             3052|    COMPLETE|
|   25920|2014-01-01|            12232|    COMPLETE|
|   25921|2014-01-01|            12373|    COMPLETE|
+--------+----------+-----------------+------------+
only showing top 20 rows

In [ ]:
df.\
  groupBy('order_status').\
    agg(count('order_id').alias('order_count')).\
      orderBy(col('order_count').desc())

+---------------+-----------+
|   order_status|order_count|
+---------------+-----------+
|       COMPLETE|      22899|
|PENDING_PAYMENT|      15030|
|     PROCESSING|       8275|
|        PENDING|       7610|
|         CLOSED|       7556|
|        ON_HOLD|       3798|
|SUSPECTED_FRAUD|       1558|
|       CANCELED|       1428|
| PAYMENT_REVIEW|        729|
+---------------+-----------+

# Join data

In [14]:
# Leyendo csv, y definiendo el tipo de datos y el nombre de columnas con el comando schema
orders_df = spark.read.csv(f'{base_dir}/orders', schema='order_id INT, order_date DATE, order_customer_id INT, order_status STRING')

In [15]:
# Leyendo csv, y definiendo el tipo de datos y el nombre de columnas con el comando schema
orders_item_df = spark.read.csv(f'{base_dir}/order_items',
                                schema='''
                                order_item_id INT, order_item_order_id INT, order_item_product_id INT,
                                 order_item_quality INT, order_item_subtotal FLOAT, order_item_product_price FLOAT
                                 ''')

In [16]:
orders_item_df

+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quality|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|            1|                  1|                  957|                 1|             299.98|                  299.98|
|            2|                  2|                 1073|                 1|             199.99|                  199.99|
|            3|                  2|                  502|                 5|              250.0|                    50.0|
|            4|                  2|                  403|                 1|             129.99|                  129.99|
|            5|                  4|                  897|                 2|              49.98|                   24.99|
|            6|                  4|                  365|                 5|             299.95|                   59.99|
|            7|                  4|                  502|                 3|              150.0|                    50.0|
|            8|                  4|                 1014|                 4|             199.92|                   49.98|
|            9|                  5|                  957|                 1|             299.98|                  299.98|
|           10|                  5|                  365|                 5|             299.95|                   59.99|
|           11|                  5|                 1014|                 2|              99.96|                   49.98|
|           12|                  5|                  957|                 1|             299.98|                  299.98|
|           13|                  5|                  403|                 1|             129.99|                  129.99|
|           14|                  7|                 1073|                 1|             199.99|                  199.99|
|           15|                  7|                  957|                 1|             299.98|                  299.98|
|           16|                  7|                  926|                 5|              79.95|                   15.99|
|           17|                  8|                  365|                 3|             179.97|                   59.99|
|           18|                  8|                  365|                 5|             299.95|                   59.99|
|           19|                  8|                 1014|                 4|             199.92|                   49.98|
|           20|                  8|                  502|                 1|               50.0|                    50.0|
+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
only showing top 20 rows

In [18]:
# inner join
orders_df.join(orders_item_df, orders_df['order_id'] == orders_item_df['order_item_order_id'])

+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|order_id|order_date|order_customer_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quality|order_item_subtotal|order_item_product_price|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|       1|2013-07-25|            11599|         CLOSED|            1|                  1|                  957|                 1|             299.98|                  299.98|
|       2|2013-07-25|              256|PENDING_PAYMENT|            2|                  2|                 1073|                 1|             199.99|                  199.99|
|       2|2013-07-25|              256|PENDING_PAYMENT|            3|                  2|                  502|                 5|              250.0|                    50.0|
|       2|2013-07-25|              256|PENDING_PAYMENT|            4|                  2|                  403|                 1|             129.99|                  129.99|
|       4|2013-07-25|             8827|         CLOSED|            5|                  4|                  897|                 2|              49.98|                   24.99|
|       4|2013-07-25|             8827|         CLOSED|            6|                  4|                  365|                 5|             299.95|                   59.99|
|       4|2013-07-25|             8827|         CLOSED|            7|                  4|                  502|                 3|              150.0|                    50.0|
|       4|2013-07-25|             8827|         CLOSED|            8|                  4|                 1014|                 4|             199.92|                   49.98|
|       5|2013-07-25|            11318|       COMPLETE|            9|                  5|                  957|                 1|             299.98|                  299.98|
|       5|2013-07-25|            11318|       COMPLETE|           10|                  5|                  365|                 5|             299.95|                   59.99|
|       5|2013-07-25|            11318|       COMPLETE|           11|                  5|                 1014|                 2|              99.96|                   49.98|
|       5|2013-07-25|            11318|       COMPLETE|           12|                  5|                  957|                 1|             299.98|                  299.98|
|       5|2013-07-25|            11318|       COMPLETE|           13|                  5|                  403|                 1|             129.99|                  129.99|
|       7|2013-07-25|             4530|       COMPLETE|           14|                  7|                 1073|                 1|             199.99|                  199.99|
|       7|2013-07-25|             4530|       COMPLETE|           15|                  7|                  957|                 1|             299.98|                  299.98|
|       7|2013-07-25|             4530|       COMPLETE|           16|                  7|                  926|                 5|              79.95|                   15.99|
|       8|2013-07-25|             2911|     PROCESSING|           17|                  8|                  365|                 3|             179.97|                   59.99|
|       8|2013-07-25|             2911|     PROCESSING|           18|                  8|                  365|                 5|             299.95|                   59.99|
|       8|2013-07-25|             2911|     PROCESSING|           19|                  8|                 1014|                 4|             199.92|                   49.98|
|       8|2013-07-25|             2911|     PROCESSING|           20|                  8|                  502|                 1|               50.0|                    50.0|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import count, col, sum, date_format, round

In [30]:
orders_df.\
  filter("order_status IN ('COMPLETE', 'CLOSED') AND date_format(order_date, 'yyyyMM') = 201401").\
  join(orders_item_df, orders_df['order_id'] == orders_item_df['order_item_order_id']).\
  groupBy('order_date').\
  agg(round(sum('order_item_subtotal'), 2).alias('revenue'))

+----------+--------+
|order_date| revenue|
+----------+--------+
|2014-01-24|33855.51|
|2014-01-08|20812.66|
|2014-01-05|59093.58|
|2014-01-06|28852.45|
|2014-01-03| 53080.1|
|2014-01-12|41235.96|
|2014-01-11|58913.51|
|2014-01-28|38419.64|
|2014-01-18| 32200.4|
|2014-01-29|39289.22|
|2014-01-10|52781.11|
|2014-01-15|50622.14|
|2014-01-26|29745.37|
|2014-01-22|49359.94|
|2014-01-21|56125.68|
|2014-01-19| 41023.1|
|2014-01-02| 21872.7|
|2014-01-14|37722.19|
|2014-01-20|43416.32|
|2014-01-13|35398.77|
+----------+--------+
only showing top 20 rows

In [31]:
# left join
orders_df.join(orders_item_df, orders_df['order_id'] == orders_item_df['order_item_order_id'], 'left')

+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|order_id|order_date|order_customer_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quality|order_item_subtotal|order_item_product_price|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|       1|2013-07-25|            11599|         CLOSED|            1|                  1|                  957|                 1|             299.98|                  299.98|
|       2|2013-07-25|              256|PENDING_PAYMENT|            4|                  2|                  403|                 1|             129.99|                  129.99|
|       2|2013-07-25|              256|PENDING_PAYMENT|            3|                  2|                  502|                 5|              250.0|                    50.0|
|       2|2013-07-25|              256|PENDING_PAYMENT|            2|                  2|                 1073|                 1|             199.99|                  199.99|
|       3|2013-07-25|            12111|       COMPLETE|         null|               null|                 null|              null|               null|                    null|
|       4|2013-07-25|             8827|         CLOSED|            8|                  4|                 1014|                 4|             199.92|                   49.98|
|       4|2013-07-25|             8827|         CLOSED|            7|                  4|                  502|                 3|              150.0|                    50.0|
|       4|2013-07-25|             8827|         CLOSED|            6|                  4|                  365|                 5|             299.95|                   59.99|
|       4|2013-07-25|             8827|         CLOSED|            5|                  4|                  897|                 2|              49.98|                   24.99|
|       5|2013-07-25|            11318|       COMPLETE|           13|                  5|                  403|                 1|             129.99|                  129.99|
|       5|2013-07-25|            11318|       COMPLETE|           12|                  5|                  957|                 1|             299.98|                  299.98|
|       5|2013-07-25|            11318|       COMPLETE|           11|                  5|                 1014|                 2|              99.96|                   49.98|
|       5|2013-07-25|            11318|       COMPLETE|           10|                  5|                  365|                 5|             299.95|                   59.99|
|       5|2013-07-25|            11318|       COMPLETE|            9|                  5|                  957|                 1|             299.98|                  299.98|
|       6|2013-07-25|             7130|       COMPLETE|         null|               null|                 null|              null|               null|                    null|
|       7|2013-07-25|             4530|       COMPLETE|           16|                  7|                  926|                 5|              79.95|                   15.99|
|       7|2013-07-25|             4530|       COMPLETE|           15|                  7|                  957|                 1|             299.98|                  299.98|
|       7|2013-07-25|             4530|       COMPLETE|           14|                  7|                 1073|                 1|             199.99|                  199.99|
|       8|2013-07-25|             2911|     PROCESSING|           20|                  8|                  502|                 1|               50.0|                    50.0|
|       8|2013-07-25|             2911|     PROCESSING|           19|                  8|                 1014|                 4|             199.92|                   49.98|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
only showing top 20 rows

In [32]:
# right join
orders_df.join(orders_item_df, orders_df['order_id'] == orders_item_df['order_item_order_id'], 'right')

+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|order_id|order_date|order_customer_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quality|order_item_subtotal|order_item_product_price|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
|       1|2013-07-25|            11599|         CLOSED|            1|                  1|                  957|                 1|             299.98|                  299.98|
|       2|2013-07-25|              256|PENDING_PAYMENT|            2|                  2|                 1073|                 1|             199.99|                  199.99|
|       2|2013-07-25|              256|PENDING_PAYMENT|            3|                  2|                  502|                 5|              250.0|                    50.0|
|       2|2013-07-25|              256|PENDING_PAYMENT|            4|                  2|                  403|                 1|             129.99|                  129.99|
|       4|2013-07-25|             8827|         CLOSED|            5|                  4|                  897|                 2|              49.98|                   24.99|
|       4|2013-07-25|             8827|         CLOSED|            6|                  4|                  365|                 5|             299.95|                   59.99|
|       4|2013-07-25|             8827|         CLOSED|            7|                  4|                  502|                 3|              150.0|                    50.0|
|       4|2013-07-25|             8827|         CLOSED|            8|                  4|                 1014|                 4|             199.92|                   49.98|
|       5|2013-07-25|            11318|       COMPLETE|            9|                  5|                  957|                 1|             299.98|                  299.98|
|       5|2013-07-25|            11318|       COMPLETE|           10|                  5|                  365|                 5|             299.95|                   59.99|
|       5|2013-07-25|            11318|       COMPLETE|           11|                  5|                 1014|                 2|              99.96|                   49.98|
|       5|2013-07-25|            11318|       COMPLETE|           12|                  5|                  957|                 1|             299.98|                  299.98|
|       5|2013-07-25|            11318|       COMPLETE|           13|                  5|                  403|                 1|             129.99|                  129.99|
|       7|2013-07-25|             4530|       COMPLETE|           14|                  7|                 1073|                 1|             199.99|                  199.99|
|       7|2013-07-25|             4530|       COMPLETE|           15|                  7|                  957|                 1|             299.98|                  299.98|
|       7|2013-07-25|             4530|       COMPLETE|           16|                  7|                  926|                 5|              79.95|                   15.99|
|       8|2013-07-25|             2911|     PROCESSING|           17|                  8|                  365|                 3|             179.97|                   59.99|
|       8|2013-07-25|             2911|     PROCESSING|           18|                  8|                  365|                 5|             299.95|                   59.99|
|       8|2013-07-25|             2911|     PROCESSING|           19|                  8|                 1014|                 4|             199.92|                   49.98|
|       8|2013-07-25|             2911|     PROCESSING|           20|                  8|                  502|                 1|               50.0|                    50.0|
+--------+----------+-----------------+---------------+-------------+-------------------+---------------------+------------------+-------------------+------------------------+
only showing top 20 rows

# Rank

In [36]:
from pyspark.sql.functions import count, col, sum, date_format, round, dense_rank
from pyspark.sql.window import Window

In [39]:
# Como agregar multiples sobre una tabla
df.filter("date_format(order_date, 'yyyyMM') = 201401 AND order_status IN ('COMPLETE', 'CLOSED')").\
  withColumn('rank', dense_rank().over(Window.orderBy(col('order_date').desc())))

+--------+----------+-----------------+------------+----+
|order_id|order_date|order_customer_id|order_status|rank|
+--------+----------+-----------------+------------+----+
|   30583|2014-01-31|             3096|    COMPLETE|   1|
|   30586|2014-01-31|             8171|    COMPLETE|   1|
|   30592|2014-01-31|             5449|    COMPLETE|   1|
|   30593|2014-01-31|             1209|    COMPLETE|   1|
|   30597|2014-01-31|             1153|      CLOSED|   1|
|   30599|2014-01-31|             4104|    COMPLETE|   1|
|   30601|2014-01-31|             1656|      CLOSED|   1|
|   30603|2014-01-31|              105|    COMPLETE|   1|
|   30604|2014-01-31|             5615|    COMPLETE|   1|
|   30607|2014-01-31|             9458|      CLOSED|   1|
|   30608|2014-01-31|             8212|    COMPLETE|   1|
|   30610|2014-01-31|            10734|    COMPLETE|   1|
|   30613|2014-01-31|             2010|    COMPLETE|   1|
|   30619|2014-01-31|             6846|    COMPLETE|   1|
|   30620|2014-01-31|             6921|      CLOSED|   1|
|   30621|2014-01-31|             5760|    COMPLETE|   1|
|   30625|2014-01-31|             6729|    COMPLETE|   1|
|   30627|2014-01-31|            11174|      CLOSED|   1|
|   30628|2014-01-31|             8988|      CLOSED|   1|
|   30630|2014-01-31|            11059|    COMPLETE|   1|
+--------+----------+-----------------+------------+----+
only showing top 20 rows

In [ ]:
# rank con particion y ordenamiento
df.filter("date_format(order_date, 'yyyyMM') = 201401 AND order_status IN ('COMPLETE', 'CLOSED')").\
  withColumn('rank', dense_rank().over(Window.partitionBy('order_date').orderBy(col('order_status').desc())))

In [ ]:

# rank con particion y ordenamiento. Separando expresiones
spec = Window.partitionBy('order_date').orderBy(col('order_status').desc()))
df.filter("date_format(order_date, 'yyyyMM') = 201401 AND order_status IN ('COMPLETE', 'CLOSED')").\
  withColumn('rank', dense_rank(spec).over()